*{
    margin:0;
    padding:0;
}

.contenedor{
    width:100%;
    max-width: auto;
    margin: 0 auto;
    overflow: auto;
    
}



/* GENERAL */


header{ 
    background-color: rgb(0, 0, 0);   
}
.headerCont{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.headerCont h1{
    padding: 35px 0;
    color: white;
   
}

